<mat-dialog-content>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="car.name" type="string" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>MPG</mat-label>
    <input matInput [(ngModel)]="car.mpg" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Cylinders</mat-label>
    <input matInput [(ngModel)]="car.cylinders" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Displacement</mat-label>
    <input matInput [(ngModel)]="car.displacement" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Horsepower</mat-label>
    <input matInput [(ngModel)]="car.horsepower" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Weight</mat-label>
    <input matInput [(ngModel)]="car.weight" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Acceleration</mat-label>
    <input matInput [(ngModel)]="car.acceleration" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Model Year</mat-label>
    <input matInput [(ngModel)]="car.model_year" type="number" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Origin</mat-label>
    <input matInput [(ngModel)]="car.origin" type="string" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="saveCar()">{{isNewCar ? 'Create' : 'Save'}}</button>
  <button mat-flat-button color="warn" (click)="deleteCar()" *ngIf="!isNewCar">Delete</button>
  <button mat-flat-button color="basic" (click)="close()">{{isNewCar ? 'Cancel' : 'Close'}}</button>
</mat-dialog-actions>
