<div class="page-container">
  <!-- Left Column -->
  <div class="main-content">
    <!-- Add similar fields for other filters -->

    <div class="car-grid">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="5" class="car-grid">
        <mat-grid-tile *ngFor="let car of cars">
          <mat-card class="car-card" (click)="openCarDialog(car)">
            <mat-card-header>
              <mat-card-title>{{ car.name }}</mat-card-title>
              <mat-card-subtitle>Year : {{ car.model_year }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <table>
                <tr>
                  <td>MPG</td>
                  <td>:</td>
                  <td>{{car.mpg}}</td>
                </tr>
                <tr>
                  <td>Cylinders</td>
                  <td>:</td>
                  <td>{{car.cylinders}}</td>
                </tr>
                <tr>
                  <td>Displacement</td>
                  <td>:</td>
                  <td>{{car.displacement}}</td>
                </tr>
                <tr>
                  <td>Horsepower</td>
                  <td>:</td>
                  <td>{{car.horsepower}}</td>
                </tr>
                <tr>
                  <td>Weight</td>
                  <td>:</td>
                  <td>{{car.weight}}</td>
                </tr>
                <tr>
                  <td>Acceleration</td>
                  <td>:</td>
                  <td>{{car.acceleration}}</td>
                </tr>
                <tr>
                  <td>Origin</td>
                  <td>:</td>
                  <td>{{car.origin}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <!-- Right Column -->
  <!-- Filter History Section -->
  <div class="filters-sidebar">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Previous Filters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-listbox class="filter-list">
          <mat-chip-option *ngFor="let filter of savedFilters; let i = index" (click)="applyHistoricalFilter(filter)"
            [matTooltip]="getFilterDisplayText(filter)" matTooltipPosition="above" class="filter-chip">
            Date : {{filter.createdAt}}
            {{ getFilterDisplayText(filter) }}
            <button matChipRemove (click)="deleteFilter($event, filter, i)" [matTooltip]="'Delete filter'"
              class="delete-button">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>
    <hr />
    <mat-card>
      <mat-card-header>
        <mat-card-title>Filters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <table>
            <tr>
              <td>Name</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="filters.name" type="text" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>MPG</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Min MPG</mat-label>
                  <input matInput [(ngModel)]="filters.mpg_min" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Max MPG</mat-label>
                  <input matInput [(ngModel)]="filters.mpg_max" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Cylinders</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Cylinders</mat-label>
                  <input matInput [(ngModel)]="filters.cylinders" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Displacement</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Min Displacement</mat-label>
                  <input matInput [(ngModel)]="filters.displacement_min" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Max Displacement</mat-label>
                  <input matInput [(ngModel)]="filters.displacement_max" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Horsepower</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Min Horsepower</mat-label>
                  <input matInput [(ngModel)]="filters.horsepower_min" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Max Horsepower</mat-label>
                  <input matInput [(ngModel)]="filters.horsepower_max" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Min Weight</mat-label>
                  <input matInput [(ngModel)]="filters.weight_min" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Max Weight</mat-label>
                  <input matInput [(ngModel)]="filters.weight_max" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Acceleration</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Min Acceleration</mat-label>
                  <input matInput [(ngModel)]="filters.acceleration_min" type="number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Max Acceleration</mat-label>
                  <input matInput [(ngModel)]="filters.acceleration_max" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Model Year</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Model year</mat-label>
                  <input matInput [(ngModel)]="filters.model_year" type="number" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Origin</td>
              <td>
                <mat-form-field appearance="outline" class="search-field">
                  <mat-label>Origin</mat-label>
                  <input matInput [(ngModel)]="filters.origin" type="string" />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <button mat-flat-button color="primary" class="search-button" (click)="loadCars()">
            <mat-icon>search</mat-icon>
            Search Cars
          </button>
          <button mat-flat-button color="primary" class="search-button" (click)="clearFilters()">
            <mat-icon>clear</mat-icon>
            Clear
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>