/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark theme */
body.dark-theme {
    background-color: #303030;
    color: #ffffff;
}

.dark-theme .mat-mdc-card {
    background-color: #424242;
    color: #ffffff;
}

.dark-theme .mat-mdc-card-subtitle {
    color: rgba(255, 255, 255, 0.7);
}

/* Add these to your global styles */
.car-dialog .mat-mdc-dialog-container {
    padding: 0;
}

.car-dialog .mat-mdc-dialog-surface {
    border-radius: 8px;
    overflow: hidden;
}

.main-content {
    flex: 1;
    padding-bottom: 60px;
    /* Space for the footer */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}